.sticky nav{

     background-color:#2C3A47;
     top:0px;
     left:0px;
     margin: 0px;



}
.navi {
    text-align: right;
    margin-top: -5px;


}


.navi li {

    text-align: right;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    color: wheat;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 30px;
    padding-bottom: 15px;

}

.navi li a {

    color: white;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;


}
.navi li a:hover {
    border: 1px solid white;
    border-radius: 6px;
}