*{
    text-align: justify;
    font-family:monospace;
    font-size: 18px;
    text-decoration: none;
    
}
body{
    background-image: url("../image/reg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.login form{
    background-color: rgba(162, 157, 184, 0.7);
    width: 320px;
    height: 420px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border:1px solid black;
    /*border-radius: 10px ;*/
    padding: 70px 30px; 
    color: black;
   
} 
#signin{
    
    border: none;
    border-radius: 3px;
    background-color: #F8EFBA;
    margin-left: 90px;
    padding: 8px;
    outline: none;
    font-weight:bold;
    
}
.login form input[type="text"], .login form input[type="password"]{
    border:none;
    border-bottom: 1px solid rgba(162, 157, 184, 0.7);
    background-color: transparent;
    outline: none; 
    height:30px;
    color:white;
    width:250px;
  
}

::placeholder{
    color: black;
}

#log{
     text-align: center;
     margin-top: -40px;
     padding-bottom: 10px;
     font-size: 30px;
     border-bottom: 1px solid white;
}
#forget{
    color:white;
    padding-top:10px;
    padding-bottom:10px;
}
.login form label{
    font-weight: bold;
}


.mainsticky nav{
     background-color:rgba(0,0,0,0.6);
     position: sticky;
     top:0px;
     left:0px;
     margin: 0px;
}
.mainnavi {
    text-align: right;


}

.mainnavi li {

    text-align: right;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    color: wheat;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 30px;
    padding-bottom: 15px;

}

.mainnavi li a {

    color: white;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;


}
.mainnavi li a:hover {
    border: 1px solid white;
    border-radius: 6px;
}

