. {
    font-family: monospace;
    font-size: 20px;
    text-align: justify;
}
.q{
    border:2px solid #2C3A47;
    position: center;
    padding-left: 45%;
}
.quotes{
    border:1px solid #2C3A47;
    border-radius: 5px;
    text-align: center;
    width:700px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    min-height: 100px;
    top:150px;
    margin-top: 50px;

}
.quotes p{
font-size:20px;
font-style:italic;
}
.author{
    border:1px solid #2C3A47;
    max-width:150px;
    min-height: 30px;
    text-align: center;
    position: absolute;
    left: 79%;
    top:100%;
    min-height: 20px;
    padding-bottom: 50px;
    padding:5px;
    padding-top:5px;
    background-color:#2C3A47;
    color: cornsilk;
    font-weight:bold;
    font-size: 19px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #2C3A47;
    text-align: left;
    background-color: beige;
    min-height: 30px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size:20px;
    color:darkslategray;
}
