{% load static %}
<link href="{% static '../static/cssfile/footer.css' %}" rel="stylesheet" type="text/css">

<div class="lower">
    <p>Contact with me by</p>
    <ul>
    <li><a href="www.youtube.com" target="_blank"><img src=" ../static/image/icon/youtube-128.png"><figcaption>youtube</figcaption></a></li>
    <li><a href="www.facebook.com" target="_blank"><img src=" ../static/image/icon/fb-128.png"><figcaption>facebook</figcaption></a></li>
        <li><a><img src=" ../static/image/icon/message%20(1).png"><figcaption>message</figcaption></a></li>
        <li><a href="www.skype.com " target="_blank"><img src=" ../static/image/icon/skype-128.png"><figcaption>skype</figcaption></a></li>
        <li><a href="www.twitter.com"> <img src=" ../static/image/icon/twitter-128%20(1).png"><figcaption>twitter</figcaption></a></li>
    </ul>
</div>
