{%extends 'base.html'%}
{% load static %}

    {%block title%}Registration{%endblock%}

  {%block csslink%}
     <link href="{% static '../static/cssfile/regforms.css'%}" type="text/css" rel="stylesheet">
{%endblock%}
{%block body%}
    <body class="mainform">
            <form action="." method="POST">
            {% csrf_token %}
          <P id="si">Sign up</P>
            <br>
           <label>username: </label>
                <div>
                {{ frm.username }}
                    {{ frm.username.errors }}
                </div>
            <label >Email: </label>
                 <div>
                {{ frm.email }}
                    {{ frm.email.errors }}
                </div>
            <label >password: </label>
                 <div>
                {{ frm.password }}
                    {{ frm.password.errors }}
                </div>

                <label >confirm password: </label>
                 <div>
                {{ frm.confirm_password }}
                    {{ frm.confirm_password.errors }}
                </div>

            <input type="submit" name="submit"  value="Sign up" id="submit">
        </form>



    </body>
{%endblock%}
