{% load static %}
<html>
    <head>
    <title>
        Profile
        </title>
        <link href="{% static '..\static\cssfile\userprofile.css' %}" type="text/css" rel="stylesheet">

        <link href="{% static '../static/cssfile/base.css'%}" rel="stylesheet" type="text/css">
    </head>

    <header>
    <div class="sticky">
            <nav>
                <ul class="navi">
                    <li><a href="/ " id="home">Home</a>
                    <li><a href="{%url 'about'%}" >About</a></li>
                    <li><a href="{% url 'signup' %} " id="form" >Sign up</a></li>
                    <li><a href="{% url 'quotes' %}" id="quotes">Quotes</a></li>

                </ul>
            </nav>
        </div>
</header>

    <body class="mainform">

        <form action="." method="POST">
            <div id="hi"> Welcome {{ user.username }}</div>
            <br><br><br>
           <label for="username">Username: </label>{{ user.username }}<input type="text" name="username" id="username" ><br><br>
            <label for="Email">Email: </label>{{ user.email }}<input type="email" name="email" id="Email" >
            <br><br>
            <a href="{% url 'quotesform' %}" id="submit" >Publish your quote</a>
            <a href="{% url 'chatbox' %}" id="chat" >Chatting</a>

        </form>

    </body>


</html>